Repository rvm/rvm, pull requests merged in 2018-10, with the labels that each got.

#4456 Add support for installing TruffleRuby as a RVM binary ruby
  config/db
  scripts/functions/manage/truffleruby
  scripts/functions/selector_interpreters
  scripts/functions/utility
  scripts/functions/utility_system
  scripts/mount
Labels: binary, feature, interpreter: truffleruby

#4483 Fix Ruby 2.5.0 and 2.5.1 build with LibreSSL 2.7.0
  CHANGELOG.md
  patches/ruby/2.5.0/libressl_2_7.patch
  patches/ruby/2.5.1/libressl_2_7.patch
  patchsets/ruby/2.5.0/default
  patchsets/ruby/2.5.1/default
Labels: bug

#4482 Fix libssl dependency for Mint 19
  CHANGELOG.md
  scripts/functions/requirements/mint
Labels: feedback needed, platform: mint

#4478 Add support for Void linux
  CHANGELOG.md
  scripts/functions/detect_systems/os_release
  scripts/functions/requirements/void
Labels: feature
