Repository rvm/rvm, pull requests merged in 2023-09, with the labels that each got.

#5385 Fix truffleruby-23.0.0 installation on macos
  scripts/functions/selector_interpreters
Labels: interpreter: truffleruby

#5390 Update JRuby 9.3 to 9.3.11.0
  CHANGELOG.md
  config/known
  config/known_strings
  config/md5
  config/sha512
Labels: interpreter: jruby

#5391 Add ruby: 3.3.0-preview2 (#5391)
  CHANGELOG.md
  config/known
  config/known_strings
  config/md5
  config/sha512
Labels: feature

#5392 Add TruffleRuby 23.1.0
  CHANGELOG.md
  config/db
  config/known
  config/known_strings
  config/md5
  config/sha512
  scripts/functions/selector_interpreters
Labels: interpreter: truffleruby
